.container {
    background-color: rgb(255, 153, 0);
    border-radius: 0.1%;
    width: 90%;
    margin: 3% auto;
    text-align: center;
}

.field {
    background-color: rgb(0, 0, 0);
    height: 14%;
    margin: 5% 2%;
    width: 10%;
    border-radius: 400px;
    display: inline-block;
}

h1 {
    text-align: center;
    padding-top: 10%;
    color: white;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

button {
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
}

button:hover {
    font-size: 30px;
    color: white;
    background-color: black;
}

.buttonsDiv {
    text-align: center;
    display: block;
}

#lapsDivision {
    overflow: scroll;
    height: auto;
    width: auto;
    padding: 2% 5%;
}